# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.api_list_response_template_out import ApiListResponseTemplateOut
from ..types.api_response_dict import ApiResponseDict
from ..types.api_response_template_estimate_response import ApiResponseTemplateEstimateResponse
from ..types.api_response_template_out import ApiResponseTemplateOut
from ..types.api_response_workflow_out import ApiResponseWorkflowOut
from ..types.template_category import TemplateCategory
from ..types.workflow_definition_input import WorkflowDefinitionInput
from .raw_client import AsyncRawTemplatesClient, RawTemplatesClient
from .types.list_templates_request_sort import ListTemplatesRequestSort

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class TemplatesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTemplatesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawTemplatesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawTemplatesClient
        """
        return self._raw_client

    def list(
        self,
        *,
        category: typing.Optional[typing.Sequence[TemplateCategory]] = None,
        search: typing.Optional[str] = None,
        sort: typing.Optional[ListTemplatesRequestSort] = None,
        offset: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        favorites_only: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiListResponseTemplateOut:
        """
        List live published templates across workspaces (gallery).

        Authenticated but not workspace-scoped — the gallery is cross-workspace
        by design (published rows from any workspace). Does not require
        `X-Workspace-Id`, so a freshly signed-up user without a workspace can
        still browse templates.

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `templates:read`).

        Parameters
        ----------
        category : typing.Optional[typing.Sequence[TemplateCategory]]
            Repeat for OR, e.g. ?category=media&category=creative

        search : typing.Optional[str]

        sort : typing.Optional[ListTemplatesRequestSort]

        offset : typing.Optional[int]

        limit : typing.Optional[int]

        favorites_only : typing.Optional[bool]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiListResponseTemplateOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.list()
        """
        _response = self._raw_client.list(
            category=category,
            search=search,
            sort=sort,
            offset=offset,
            limit=limit,
            favorites_only=favorites_only,
            request_options=request_options,
        )
        return _response.data

    def create_template(
        self,
        *,
        name: str,
        workspace_id: typing.Optional[str] = None,
        description: typing.Optional[str] = OMIT,
        category: typing.Optional[TemplateCategory] = OMIT,
        definition: typing.Optional[WorkflowDefinitionInput] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Create a new workflow template in the current workspace.

        The caller supplies a full `WorkflowDefinition` (graph + execution).
        Save-time validation (`validate_definition_save`) mirrors the
        `/api/v1/workflows` contract — duplicate node/edge IDs, port mismatches,
        and other structural errors fail at write time rather than surfacing
        when a caller later clones the template into a workflow.

        Parameters
        ----------
        name : str

        workspace_id : typing.Optional[str]

        description : typing.Optional[str]

        category : typing.Optional[TemplateCategory]

        definition : typing.Optional[WorkflowDefinitionInput]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.create_template(
            name="name",
        )
        """
        _response = self._raw_client.create_template(
            name=name,
            workspace_id=workspace_id,
            description=description,
            category=category,
            definition=definition,
            request_options=request_options,
        )
        return _response.data

    def get(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Fetch a template by id if visible (own, public, or starter).

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `templates:read`).

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.get(
            template_id="template_id",
        )
        """
        _response = self._raw_client.get(template_id, workspace_id=workspace_id, request_options=request_options)
        return _response.data

    def delete_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseDict:
        """
        Soft-delete a template. Owner only; starter templates are read-only.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseDict
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.delete_template(
            template_id="template_id",
        )
        """
        _response = self._raw_client.delete_template(
            template_id, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    def update_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        name: typing.Optional[str] = OMIT,
        description: typing.Optional[str] = OMIT,
        category: typing.Optional[TemplateCategory] = OMIT,
        definition: typing.Optional[WorkflowDefinitionInput] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Update a template. Owner only; starter templates are read-only.

        `definition` is full-replace (matches `WorkflowUpdate` — the FE sends the
        entire graph back on save). Other fields are partial via `exclude_unset`.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        name : typing.Optional[str]

        description : typing.Optional[str]

        category : typing.Optional[TemplateCategory]

        definition : typing.Optional[WorkflowDefinitionInput]
            Full-replace on PATCH. Omit to keep the stored value. Explicit `null` is rejected — there is no 'empty graph' use-case worth the ambiguity. The union with `null` here only makes omission easy for FE clients; see `reject_null_definition` for the runtime guard.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.update_template(
            template_id="template_id",
        )
        """
        _response = self._raw_client.update_template(
            template_id,
            workspace_id=workspace_id,
            name=name,
            description=description,
            category=category,
            definition=definition,
            request_options=request_options,
        )
        return _response.data

    def estimate_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateEstimateResponse:
        """
        Return per-1,000-character pricing for a visible template snapshot.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateEstimateResponse
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.estimate_template(
            template_id="template_id",
        )
        """
        _response = self._raw_client.estimate_template(
            template_id, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    def clone(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        name: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseWorkflowOut:
        """
        Clone a template into a workflow in the caller's workspace.

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `workflows:write`).

        Same-workspace clones use the live `definition` (owner authoring).
        Cross-workspace clones use the `published_definition` snapshot to avoid
        leaking unpublished draft edits.

        Resolved name: explicit `body.name` (stripped) OR fallback to
        `"{source_name} (Copy)"`.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        name : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseWorkflowOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.clone(
            template_id="template_id",
        )
        """
        _response = self._raw_client.clone(
            template_id, workspace_id=workspace_id, name=name, request_options=request_options
        )
        return _response.data

    def favorite_template(
        self, template_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ApiResponseTemplateOut:
        """
        Mark a visible template as a favorite for the current user.

        Authenticated but not workspace-scoped — favorites are cross-workspace by
        design for public/starter templates and for the caller's own private
        templates when they still belong to that template's workspace.

        Returns 404 when the template does not exist or is not visible to the
        caller. This POST intentionally enumerates success/failure for the toggle
        UX, while DELETE stays non-enumerating.

        Parameters
        ----------
        template_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.favorite_template(
            template_id="template_id",
        )
        """
        _response = self._raw_client.favorite_template(template_id, request_options=request_options)
        return _response.data

    def unfavorite_template(
        self, template_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ApiResponseDict:
        """
        Remove a template favorite for the current user.

        Deletion is intentionally non-enumerating: authenticated callers receive a
        successful empty response whether the row or template exists.

        Parameters
        ----------
        template_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseDict
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.templates.unfavorite_template(
            template_id="template_id",
        )
        """
        _response = self._raw_client.unfavorite_template(template_id, request_options=request_options)
        return _response.data


class AsyncTemplatesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTemplatesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawTemplatesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawTemplatesClient
        """
        return self._raw_client

    async def list(
        self,
        *,
        category: typing.Optional[typing.Sequence[TemplateCategory]] = None,
        search: typing.Optional[str] = None,
        sort: typing.Optional[ListTemplatesRequestSort] = None,
        offset: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        favorites_only: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiListResponseTemplateOut:
        """
        List live published templates across workspaces (gallery).

        Authenticated but not workspace-scoped — the gallery is cross-workspace
        by design (published rows from any workspace). Does not require
        `X-Workspace-Id`, so a freshly signed-up user without a workspace can
        still browse templates.

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `templates:read`).

        Parameters
        ----------
        category : typing.Optional[typing.Sequence[TemplateCategory]]
            Repeat for OR, e.g. ?category=media&category=creative

        search : typing.Optional[str]

        sort : typing.Optional[ListTemplatesRequestSort]

        offset : typing.Optional[int]

        limit : typing.Optional[int]

        favorites_only : typing.Optional[bool]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiListResponseTemplateOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.list()


        asyncio.run(main())
        """
        _response = await self._raw_client.list(
            category=category,
            search=search,
            sort=sort,
            offset=offset,
            limit=limit,
            favorites_only=favorites_only,
            request_options=request_options,
        )
        return _response.data

    async def create_template(
        self,
        *,
        name: str,
        workspace_id: typing.Optional[str] = None,
        description: typing.Optional[str] = OMIT,
        category: typing.Optional[TemplateCategory] = OMIT,
        definition: typing.Optional[WorkflowDefinitionInput] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Create a new workflow template in the current workspace.

        The caller supplies a full `WorkflowDefinition` (graph + execution).
        Save-time validation (`validate_definition_save`) mirrors the
        `/api/v1/workflows` contract — duplicate node/edge IDs, port mismatches,
        and other structural errors fail at write time rather than surfacing
        when a caller later clones the template into a workflow.

        Parameters
        ----------
        name : str

        workspace_id : typing.Optional[str]

        description : typing.Optional[str]

        category : typing.Optional[TemplateCategory]

        definition : typing.Optional[WorkflowDefinitionInput]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.create_template(
                name="name",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_template(
            name=name,
            workspace_id=workspace_id,
            description=description,
            category=category,
            definition=definition,
            request_options=request_options,
        )
        return _response.data

    async def get(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Fetch a template by id if visible (own, public, or starter).

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `templates:read`).

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.get(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get(template_id, workspace_id=workspace_id, request_options=request_options)
        return _response.data

    async def delete_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseDict:
        """
        Soft-delete a template. Owner only; starter templates are read-only.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseDict
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.delete_template(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete_template(
            template_id, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    async def update_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        name: typing.Optional[str] = OMIT,
        description: typing.Optional[str] = OMIT,
        category: typing.Optional[TemplateCategory] = OMIT,
        definition: typing.Optional[WorkflowDefinitionInput] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateOut:
        """
        Update a template. Owner only; starter templates are read-only.

        `definition` is full-replace (matches `WorkflowUpdate` — the FE sends the
        entire graph back on save). Other fields are partial via `exclude_unset`.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        name : typing.Optional[str]

        description : typing.Optional[str]

        category : typing.Optional[TemplateCategory]

        definition : typing.Optional[WorkflowDefinitionInput]
            Full-replace on PATCH. Omit to keep the stored value. Explicit `null` is rejected — there is no 'empty graph' use-case worth the ambiguity. The union with `null` here only makes omission easy for FE clients; see `reject_null_definition` for the runtime guard.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.update_template(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_template(
            template_id,
            workspace_id=workspace_id,
            name=name,
            description=description,
            category=category,
            definition=definition,
            request_options=request_options,
        )
        return _response.data

    async def estimate_template(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseTemplateEstimateResponse:
        """
        Return per-1,000-character pricing for a visible template snapshot.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateEstimateResponse
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.estimate_template(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.estimate_template(
            template_id, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    async def clone(
        self,
        template_id: str,
        *,
        workspace_id: typing.Optional[str] = None,
        name: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseWorkflowOut:
        """
        Clone a template into a workflow in the caller's workspace.

        Dual-auth: Clerk JWT or `op_live_*` API key (scope `workflows:write`).

        Same-workspace clones use the live `definition` (owner authoring).
        Cross-workspace clones use the `published_definition` snapshot to avoid
        leaking unpublished draft edits.

        Resolved name: explicit `body.name` (stripped) OR fallback to
        `"{source_name} (Copy)"`.

        Parameters
        ----------
        template_id : str

        workspace_id : typing.Optional[str]

        name : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseWorkflowOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.clone(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.clone(
            template_id, workspace_id=workspace_id, name=name, request_options=request_options
        )
        return _response.data

    async def favorite_template(
        self, template_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ApiResponseTemplateOut:
        """
        Mark a visible template as a favorite for the current user.

        Authenticated but not workspace-scoped — favorites are cross-workspace by
        design for public/starter templates and for the caller's own private
        templates when they still belong to that template's workspace.

        Returns 404 when the template does not exist or is not visible to the
        caller. This POST intentionally enumerates success/failure for the toggle
        UX, while DELETE stays non-enumerating.

        Parameters
        ----------
        template_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseTemplateOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.favorite_template(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.favorite_template(template_id, request_options=request_options)
        return _response.data

    async def unfavorite_template(
        self, template_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ApiResponseDict:
        """
        Remove a template favorite for the current user.

        Deletion is intentionally non-enumerating: authenticated callers receive a
        successful empty response whether the row or template exists.

        Parameters
        ----------
        template_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseDict
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.templates.unfavorite_template(
                template_id="template_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.unfavorite_template(template_id, request_options=request_options)
        return _response.data
