# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.api_list_response_node_ports_out import ApiListResponseNodePortsOut
from ..types.api_response_node_detail_out import ApiResponseNodeDetailOut
from .raw_client import AsyncRawNodesClient, RawNodesClient


class NodesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawNodesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawNodesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawNodesClient
        """
        return self._raw_client

    def list_nodes(self, *, request_options: typing.Optional[RequestOptions] = None) -> ApiListResponseNodePortsOut:
        """
        List all available node types with their input/output port schemas.

        Returns the static structural definition for every node type registered in
        the catalog — what ports each node exposes, their names, and expected data
        shapes — without runtime-variable values such as available languages or the
        TTS model catalog. This endpoint requires no `X-Workspace-Id` header and no
        authentication, making it suitable for static documentation generation and
        canvas layout tooling.

        For the full runtime configuration options a user would pick when wiring up
        a specific node (available target languages, provider/model options, voice
        picker URL), use `GET /api/v2/nodes/{node_type}` instead.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiListResponseNodePortsOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.nodes.list_nodes()
        """
        _response = self._raw_client.list_nodes(request_options=request_options)
        return _response.data

    def get_node_detail(
        self,
        node_type: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseNodeDetailOut:
        """
        Return full node definition and runtime configuration options for a node type.

        **Deprecated:** use `GET /api/v2/nodes/{node_type}` instead. This v1 variant
        inlines the full TTS model catalog under `options.models_by_provider`, which
        creates a large response and couples clients to the catalog structure. The v2
        endpoint replaces that inline tree with a `providers` HATEOAS href pointing to
        the standalone `/api/v1/providers` catalog, so the model list is fetched lazily
        only when needed.

        Unlike `GET /nodes` (which returns only static port schemas), this endpoint
        returns the runtime values a caller uses to configure a node: supported target
        languages derived from deployment settings, the available model catalog, and a
        HATEOAS link to the workspace-scoped voice list. Requires `X-Workspace-Id`.

        Parameters
        ----------
        node_type : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseNodeDetailOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.nodes.get_node_detail(
            node_type="node_type",
        )
        """
        _response = self._raw_client.get_node_detail(
            node_type, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    def get_node_detail_v2(
        self,
        node_type: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseNodeDetailOut:
        """
        Return full node definition and runtime configuration options for a node type (v2).

        Extends `GET /api/v1/nodes/{node_type}` by replacing the large inline model
        catalog (`options.models_by_provider`) with a `providers` HATEOAS href pointing
        to `GET /api/v1/providers`. Clients follow that link to load the model list and
        each model's configuration schema only when the user opens the relevant
        configuration panel, rather than receiving it in every node-detail response.

        The `voices` HATEOAS href (with its provider, model, and language filter
        parameters) is unchanged from v1, so the voice picker does not require a
        catalog call. Supported target languages are resolved from deployment settings
        at request time. Requires `X-Workspace-Id` and the `catalog:read` scope.

        Parameters
        ----------
        node_type : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseNodeDetailOut
            Successful Response

        Examples
        --------
        from onepin import OnePinClient

        client = OnePinClient(
            token="YOUR_TOKEN",
        )
        client.nodes.get_node_detail_v2(
            node_type="node_type",
        )
        """
        _response = self._raw_client.get_node_detail_v2(
            node_type, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data


class AsyncNodesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawNodesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawNodesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawNodesClient
        """
        return self._raw_client

    async def list_nodes(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ApiListResponseNodePortsOut:
        """
        List all available node types with their input/output port schemas.

        Returns the static structural definition for every node type registered in
        the catalog — what ports each node exposes, their names, and expected data
        shapes — without runtime-variable values such as available languages or the
        TTS model catalog. This endpoint requires no `X-Workspace-Id` header and no
        authentication, making it suitable for static documentation generation and
        canvas layout tooling.

        For the full runtime configuration options a user would pick when wiring up
        a specific node (available target languages, provider/model options, voice
        picker URL), use `GET /api/v2/nodes/{node_type}` instead.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiListResponseNodePortsOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.nodes.list_nodes()


        asyncio.run(main())
        """
        _response = await self._raw_client.list_nodes(request_options=request_options)
        return _response.data

    async def get_node_detail(
        self,
        node_type: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseNodeDetailOut:
        """
        Return full node definition and runtime configuration options for a node type.

        **Deprecated:** use `GET /api/v2/nodes/{node_type}` instead. This v1 variant
        inlines the full TTS model catalog under `options.models_by_provider`, which
        creates a large response and couples clients to the catalog structure. The v2
        endpoint replaces that inline tree with a `providers` HATEOAS href pointing to
        the standalone `/api/v1/providers` catalog, so the model list is fetched lazily
        only when needed.

        Unlike `GET /nodes` (which returns only static port schemas), this endpoint
        returns the runtime values a caller uses to configure a node: supported target
        languages derived from deployment settings, the available model catalog, and a
        HATEOAS link to the workspace-scoped voice list. Requires `X-Workspace-Id`.

        Parameters
        ----------
        node_type : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseNodeDetailOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.nodes.get_node_detail(
                node_type="node_type",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_node_detail(
            node_type, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data

    async def get_node_detail_v2(
        self,
        node_type: str,
        *,
        workspace_id: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ApiResponseNodeDetailOut:
        """
        Return full node definition and runtime configuration options for a node type (v2).

        Extends `GET /api/v1/nodes/{node_type}` by replacing the large inline model
        catalog (`options.models_by_provider`) with a `providers` HATEOAS href pointing
        to `GET /api/v1/providers`. Clients follow that link to load the model list and
        each model's configuration schema only when the user opens the relevant
        configuration panel, rather than receiving it in every node-detail response.

        The `voices` HATEOAS href (with its provider, model, and language filter
        parameters) is unchanged from v1, so the voice picker does not require a
        catalog call. Supported target languages are resolved from deployment settings
        at request time. Requires `X-Workspace-Id` and the `catalog:read` scope.

        Parameters
        ----------
        node_type : str

        workspace_id : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ApiResponseNodeDetailOut
            Successful Response

        Examples
        --------
        import asyncio

        from onepin import AsyncOnePinClient

        client = AsyncOnePinClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.nodes.get_node_detail_v2(
                node_type="node_type",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_node_detail_v2(
            node_type, workspace_id=workspace_id, request_options=request_options
        )
        return _response.data
